html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #ADD8E6;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

h1 {
  margin-left: 300px;
}

table {
  border-collapse: collapse;
}

td, th
{
    border: 1px solid black;
}

.container {
  width: auto;
  max-width: 1200px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}
